
.red {
    background-color: red;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: -1px;
    
}

.red1 {

    background-color: red;
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 2px solid black;
    margin: -3px;

}

.blue {
    background-color: rgb(52,163,190);
    width: 200px;
    height: 200px;
    display: inline-block;
    border: -1px solid white;
    margin:-1px;
}
.green {
    background-color: green;
    width: 200px;
    height: 200px;
    display: inline-block;
    border: -1px solid white;
    margin:-1px;
}
.yellow {
    background-color: yellow;
    width: 200px;
    height: 200px;
    display: inline-block;
    border: -1px solid white;
    margin: -1px;
}
